$minMobile: "(max-width: 575px)";
$maxMobile: "(max-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$maxMedium: "(max-width: 1199px)";
$minLarge: "(min-width: 1200px)";